body{
    margin: 0;
    font-family: sans-serif;
}

#messages{
    height: calc(100% - 50px);
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1em 1em 0 1em;
}

.message{
    word-break: break-word;
}

.message:last-of-type{
    padding-bottom: 1em;
}

#messages .message .userName{
    font-weight: 600;
}

#footer{
    position: fixed;
    bottom: 0;
    background-color: #191926;
    width:100%;
}

#footer form{
    margin-bottom: 0;
}

#footer form input{
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    line-height: 50px;
    background-color: #191926;
    color: #FFF;
    width: calc(100%);
    padding: 0 1em;
}