body{
    margin: 0;
    font-family: sans-serif;
    height: 100%;
}

#messages{
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em 1em 0em 1em;
    max-height: calc(100% - 50px);
}

.message{
    word-break: break-word;
    padding-bottom: 3px;
}

.message:last-child{
    padding-bottom: 1em;
}

.message .info{
    font-style: italic;
}

#messages .message .userName{
    font-weight: 600;
}

#footer{
    position: fixed;
    bottom: 0;
    background-color: #191926;
    width:100%;
}

#footer form{
    margin-bottom: 0;
}

#footer form input{
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    height: 50px;
    background-color: #191926;
    color: #FFF;
    width: calc(100%);
    padding: 1em;
}